# Contract address on the blockchain (Kovan testnet example)
VITE_CONTRACT_ADDRESS=0x9828F99985a337c41fE3Ef1B72932365d3EA4e58

# For Truffle deployment
MNEMONIC=your-wallet-mnemonic-here
INFURA_API_KEY=your-infura-api-key-here
